{% macro movie_card(m) %}
{% set href = ('/series/' if m.media_type == 'tv' else '/movie/') ~ m.id %}
{% set poster = m.poster_url or img(m.poster_path) %}
<div class="col-6 col-md-4 col-lg-3 col-xxl-2">
  <div class="movie-card">
    <div class="movie-card__img">
      <img src="{{ poster or '/static/theme/web/img/poster.svg' }}" alt="{{ m.title }}" loading="lazy" onerror="this.onerror=null;this.src='/static/theme/web/img/poster.svg';this.classList.add('ge-ph')">
      <div class="play">
        <a href="{{ href }}">
          <svg viewBox="0 0 265.4 265.4" xmlns="http://www.w3.org/2000/svg"><path d="M194.2 123.7l-78.1-51.1c-1.9-1.3-4-1.9-6.1-1.9 -5.5 0-9.7 4.5-9.7 10.5v103.2c0 6 4.2 10.5 9.7 10.5 2.1 0 4.2-0.7 6.1-1.9l78.1-51.1c3.3-2.1 5.1-5.4 5.1-9C199.3 129.1 197.4 125.8 194.2 123.7z"></path></svg>
        </a>
      </div>
      <div class="rates">
        {% if m.rating %}<div class="imdb"><span>IMDb {{ m.rating }}</span></div>{% endif %}
      </div>
      <div class="actions">
        {% if m.year %}<span class="year">{{ m.year }}</span>{% endif %}
      </div>
    </div>
    <div class="movie-card__title">
      <h2><a href="{{ href }}"><span>{{ m.title }}</span>{% if m.original_title %}<p>{{ m.original_title }}</p>{% endif %}</a></h2>
    </div>
  </div>
</div>
{% endmacro %}
