  <nav class="sidebar">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a href="/browse?type=movie&genre=900000025" class="nav-link arial py-3 {{ 'active' if genre_id == 900000025 }}" title="ანიმეები">
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M12 12m0-1.2a1.2 1.2 0 0 1 1.2 1.2 2.4 2.4 0 0 1-2.4 2.4 3.6 3.6 0 0 1-3.6-3.6 4.8 4.8 0 0 1 4.8-4.8 6 6 0 0 1 6 6 7.2 7.2 0 0 1-7.2 7.2"/></svg>
          <div class="pt-xl-2">ანიმეები</div>
        </a>
      </li>
      <li class="nav-item">
        <a href="/browse?type=movie" class="nav-link arial py-3 {{ 'active' if path in ['/browse','/filter-movies'] and media=='movie' }}" title="ფილმები">
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><rect width="18" height="18" x="3" y="3" rx="2"/><path d="M7 3v18"/><path d="M3 7.5h4"/><path d="M3 12h18"/><path d="M3 16.5h4"/><path d="M17 3v18"/><path d="M17 7.5h4"/><path d="M17 16.5h4"/></svg>
          <div class="pt-xl-2">ფილმები</div>
        </a>
      </li>
      <li class="nav-item">
        <a href="/browse?type=serial" class="nav-link arial py-3 {{ 'active' if media=='tv' }}" title="სერიალები">
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="m17 2-5 5-5-5"/><rect width="20" height="15" x="2" y="7" rx="2"/></svg>
          <div class="pt-xl-2">სერიალები</div>
        </a>
      </li>
      <li class="nav-item">
        <a href="/browse?type=trailer" class="nav-link arial py-3 {{ 'active' if media=='trailer' }}" title="თრეილერები">
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="m12.296 3.464 3.02 3.956"/><path d="M20.2 6 3 11l-.9-2.4c-.3-1.1.3-2.2 1.3-2.5l13.5-4c1.1-.3 2.2.3 2.5 1.3z"/><path d="M3 11h18v8a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2z"/><path d="m6.18 5.276 3.1 3.899"/></svg>
          <div class="pt-xl-2">თრეილერები</div>
        </a>
      </li>
      <li class="nav-item">
        <a href="/persons" class="nav-link arial py-3 {{ 'active' if path=='/persons' }}" title="მსახიობები">
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M18 11c-1.5 0-2.5.5-3 2"/><path d="M4 6a2 2 0 0 0-2 2v4a5 5 0 0 0 5 5 8 8 0 0 1 5 2 8 8 0 0 1 5-2 5 5 0 0 0 5-5V8a2 2 0 0 0-2-2h-3a8 8 0 0 0-5 2 8 8 0 0 0-5-2z"/><path d="M6 11c1.5 0 2.5.5 3 2"/></svg>
          <div class="pt-xl-2">მსახიობები</div>
        </a>
      </li>
      <li class="nav-item">
        <a href="/watchlist" class="nav-link arial py-3 {{ 'active' if path=='/watchlist' }}" title="სანახავი">
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M2 9.5a5.5 5.5 0 0 1 9.591-3.676.56.56 0 0 0 .818 0A5.49 5.49 0 0 1 22 9.5c0 2.29-1.5 4-3 5.5l-5.492 5.313a2 2 0 0 1-3 .019L5 15c-1.5-1.5-3-3.2-3-5.5"/></svg>
          <div class="pt-xl-2">სანახავი</div>
        </a>
      </li>
    </ul>
  </nav>
